BODY
{
    color: #000000;
    background-color: #E0E0E0;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.content, .content:before {
    width:60%;
}
.content {
    float:left;
    padding: 20px 30px;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
}

.sidebar, .sidebar:before {
    width:20%;
}
.sidebar {
    float:left;
    padding: 20px 30px;
    color: #FFFFFF;
    font-size: 90%;
}

.sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #ff0000;
}

A:link
{
    text-decoration: none;
    color: #0000FF
}
A:visited
{
    text-decoration: none;
    color: #006600
}
A:active
{
    text-decoration: none;
    color: #003322
}

A.nav:link
{
    text-decoration: none;
    color: #FFFF00
}
A.nav:visited
{
    text-decoration: none;
    color: #FFFFFF
}
A.nav:active
{
    text-decoration: none;
    color: #E0E0E0
}
