A:link
{
    text-decoration     : none;
    color               : #0000FF
}
A:visited
{
    text-decoration     : none;
    color               : #006600
}
A:active
{
    text-decoration     : none;
    color               : #003322
}

A.nav:link
{
    text-decoration     : none;
    color               : #FFFF00
}
A.nav:visited
{
    text-decoration     : none;
    color               : #FFFFFF
}
A.nav:active
{
    text-decoration     : none;
    color               : #E0E0E0
}

BODY
{
    color               : #000000;
    background-color    : #E0E0E0;
    margin              : 0px;
    padding             : 0px
}
TABLE
{
    position            : relative;
    margin              : 0px;
    padding             : 0px;
    top                 : 300px;
}
TD, TH
{
    font-family         : Arial, Helvetica;
    margin              : 0px;
    padding             : 0px;
    color               : #000000;
    height              : 300px;
}
P
{
    font-family         : Arial, Helvetica;
    margin              : 10px 0px 10px 0px;
    padding             : 5px;
    color               : #000000;
    font-size           : 12px
}
OL LI
{
    font-family         : Arial, Helvetica;
    margin              : 10px 0px 10px 0px;
    padding             : 5px;
    color               : #000000;
    font-size           : 13px;
    list-style-type     : decimal
}
OL OL LI
{
    font-family         : Arial, Helvetica;
    margin              : 10px 0px 10px 0px;
    padding             : 5px;
    color               : #000000;
    font-size           : 13px;
    list-style-type     : upper-roman
}
UL LI
{
    font-family         : Arial, Helvetica;
    margin              : 10px 0px 10px 0px;
    padding             : 5px;
    color               : #000000;
    font-size           : 13px;
    font-family         : Arial, Helvetica;
}
UL UL LI
{
    font-family         : Arial, Helvetica;
    margin              : 10px 0px 10px 0px;
    padding             : 5px;
    color               : #000000;
    font-size           : 13px;
    font-family         : Arial, Helvetica;
}
HR
{
    background-color    : #E0E0E0
}

IMG
{
    border: 0;
}

.sidebar
{
    background-image    : url(../images/sidebar_background.png);
    color               : #FFFFFF;
    background-color    : #ff0000;
    margin              : 0;
    padding             : 0;
    top                 : 250px;
    overflow            : auto;
    width               : 200px;
    vertical-align      : top;
    position            : absolute;
}
.content
{
    margin-left         : 200px;
    color               : #000000;
    margin              : 0px;
    padding             : 0px;
    width               : 1090px;
}

H1
{
    font-family         : Arial, Helvetica;
    margin              : 30px 0px 10px 0px;
    padding             : 5px;
    color               : #FF0000;
    font-weight         : bold;
    font-style          : italic;
    font-size           : 20px;
    text-indent         : 15px
}
H2
{
    font-family         : Arial, Helvetica;
    margin              : 0px 0px 10px 0px;
    padding             : 5px;
    color               : #FF0000;
    font-weight         : bold;
    font-style          : italic;
    font-size           : 14px;
    text-indent         : 15px
}
H3
{
    font-family         : Arial, Helvetica;
    margin              : 0px 0px 10px 0px;
    padding             : 5px;
    color               : #FF0000;
    font-weight         : bold;
    font-style          : italic;
    font-size           : 12px
}
H4
{
    font-family         : Arial, Helvetica;
    margin              : 0px 0px 10px 0px;
    padding             : 5px;
    color               : #FF0000;
    font-weight         : bold;
    font-size           : 12px
}
.nav
{
    font-family         : Fixed, Arial, Helvetica;
    margin              : 0px 0px 10px 0px;
    padding             : 5px;
    text-align          : center;
    font-size           : 12px
}
.text
{
    font-family         : Arial, Helvetica;
    color               : #000000
}
.image-padding
{
    padding             : 5px
}
.caption
{
    font-family         : Arial, Helvetica;
    font-weight         : bold;
    font-style          : italic;
    text-align          : center;
    font-size           : 10px;
    color               : #000000;
    background-color    : #E0E0E0
}
.nav_header
{
    font-family         : Arial, Helvetica;
    margin              : 0px 0px 10px 0px;
    padding             : 5px;
    background-image    : url(../images/nav_header_bg.gif);
    background-repeat   : no-repeat;
    color               : #FFFFFF;
    font-weight         : bold;
    font-style          : italic;
    font-size           : 12;
}
.copyright
{
    font-family         : Arial, Helvetica;
    margin              : 0px;
    padding             : 0px;
    color               : #E0E0E0;
    font-style          : italic;
    text-align          : center;
    font-size           : 10px
}
.search_field {
    font-family         : Arial, Helvetica;
    background-color    : #FFFFFF; 
    padding             : 2px 4px;
    text-decoration     : none;
    border              : 2px solid #000;
    border-color        : #444 #aaa #aaa #444;
    color               : #000
    font-size           : 10px
}
.search_button {
    font-family         : Arial, Helvetica;
    background-color    : #FFFF00; 
    padding             : 2px 4px;
    text-decoration     : none;
    border              : 2px solid #000;
    border-color        : #aaa #444 #444 #aaa;
    color               : #000
    font-size           : 10px
}

logo {
    height              : 300px;
    width               : 200px;
}

small_td {
    font-family         : Arial, Helvetica;
    margin              : 0px;
    padding             : 0px;
    color               : #000000;
    height              : 300px;
    width               : 20px;
}

large_td {
    font-family         : Arial, Helvetica;
    margin              : 0px;
    padding             : 0px;
    color               : #000000;
    height              : 300px;
    width               : 1060px;
    vertical-align      : text-top;
}

search {
    text-align          : right;
    top                 : 1px;
    position            : relative;
}

header {
    position            : absolute;
    top                 : 0;
    width               : 100%;
    margin-left         : 0px;
}

.header_bg {
    position            : absolute;
    top                 : 0;
    width               : 100%;
    margin-left         : 200px;
    background-image    : url(../images/nshs_header.png);
    background-repeat   : no-repeat;
    height              : 350px;
}
